<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:\HUAPI\RestAssured">
        <classes>
            <class name = "RestAssuredMiniAssignment">
                <methods>
                    <include name="test_get_call" />
                    <include name="test_put_call" />
                </methods>
            </class>
        </classes>
    </test>
</suite>